.bot-button {
  padding: 2px;
  box-sizing: border-box;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.bot-button::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-image: conic-gradient(from var(--angle), #cdc6c6, #d2dad7, #d0e0f7, #f4d1e5, #c9c1c1);
  border-radius: 8px;
  z-index: -1;
  animation: 3s spin linear infinite;
  pointer-events: none;
}

.bot-button::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-image: conic-gradient(from var(--angle), #d5cbcb, #8c928f, #b2c3da, #e4a0c8, #eb9696);
  border-radius: 8px;
  z-index: -2;
  filter: blur(10px);
  opacity: 0.5;
  animation: 3s spin linear infinite;
  pointer-events: none;
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.bot-button > div {
  height: 100%;
  width: 100%;
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: background-color 0.2s ease-out;
}

.bot-button:hover > div {
  background-color: hsl(var(--primary) / 0.9);
}

.bot-button:active > div {
  background-color: hsl(var(--primary) / 0.8);
}

.bot-button svg {
  width: 2.5rem;
  height: 1.75rem;
  fill: black;
  margin-right: 0.5rem;
}
